In [307]:
# read the file into a dataframe
import pandas as pd
df = pd.read_csv ("/Users/carlos/Desktop/0309covid19.csv")
#print(df)

# Return a df with all passengers on the Princess Cruise and it's compliment
cruise = df[df['Province/State'].str.contains("Princess", na=False)]
notOnCruise = df[~df['Province/State'].str.contains("Princess", na=False)]

In [308]:
# extricate the regional observations from the global DF
us = df[df['Country/Region'].str.contains("US", na=False)]
#print(us.count)
china = df[df['Country/Region'].str.contains("China", na=False)]
canada = df[df['Country/Region'].str.contains("Canada", na=False)]
australia = df[df['Country/Region'].str.contains("Australia", na=False)]

# get rid of the nonUnique Countries in the df (to be appended after they are combined to a single observation)
compliment = df[~df['Country/Region'].str.contains("China|US|Canada|Australia", na=False)]
compliment.head(1000)
type(compliment)

pandas.core.frame.DataFrame

In [309]:
# get the sum of all observations in the data frame
## becareful not to rerun the same cells- because they will continue to append row sums

c1 = canada['Lat'].mean(axis=0)
c2 = canada['Long'].mean(axis=0)
canada = canada.append(canada.sum(numeric_only = True), ignore_index = True)
canada.loc[canada.index[-1], 'Country/Region'] = "Canada"
canada.loc[canada.index[-1], 'Lat'] = c1 
canada.loc[canada.index[-1], 'Long'] = c2


c1 = china['Lat'].mean(axis=0)
c2 = china['Long'].mean(axis=0)
china = china.append(china.sum(numeric_only = True), ignore_index = True)
china.loc[china.index[-1], 'Country/Region'] = "China"
china.loc[china.index[-1], 'Lat'] = c1 
china.loc[china.index[-1], 'Long'] = c2

c1 = us['Lat'].mean(axis=0)
c2 = us['Long'].mean(axis=0)
us = us.append(us.sum(numeric_only = True), ignore_index = True)
us.loc[us.index[-1], 'Country/Region'] = "US"
us.loc[us.index[-1], 'Lat'] = c1 
us.loc[us.index[-1], 'Long'] = c2

c1 = australia['Lat'].mean(axis=0)
c2 = australia['Long'].mean(axis=0)
australia = australia.append(australia.sum(numeric_only = True), ignore_index = True)
australia.loc[australia.index[-1], 'Country/Region'] = "Australia"
australia.loc[australia.index[-1], 'Lat'] = c1
australia.loc[australia.index[-1], 'Long'] = c2
canada.tail(5)

,City,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
2,London,ON,Canada,42.984900,-81.245300,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,Montreal,QC,Canada,45.501700,-73.567300,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,4.0
4,Calgary,Alberta,Canada,51.044700,-114.071900,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
5,Edmonton,Alberta,Canada,53.546100,-113.493800,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
6,NaN,NaN,Canada,47.668883,-97.480367,0.0,0.0,0.0,0.0,1.0,...,14.0,20.0,24.0,27.0,30.0,33.0,37.0,49.0,54.0,64.0

In [310]:
#notOnCruise.head(10)
usCruise = pd.merge(us, cruise, how='inner')
notUsCruise = pd.merge(notOnCruise, cruise, how='inner')
notUsCruise.head(10)
#usCruise = us[us['Province/State'].isin(cruise['Province/State'])
#usCruise.sum()

Empty DataFrame
Columns: [City, Province/State, Country/Region, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20]
Index: []

[0 rows x 52 columns]

In [311]:
# The compliment df has unique values for all remaining countries
compliment['Country/Region'].value_counts()

# Add all of the countries back into the dataframe with the unique countries.
compliment = compliment.append(us.loc[us.index[-1]])
compliment = compliment.append(china.loc[china.index[-1]])
compliment = compliment.append(canada.loc[canada.index[-1]])
compliment = compliment.append(australia.loc[australia.index[-1]])
compliment.head(50)

,City,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
31,NaN,NaN,Thailand,15.0000,101.0000,2.0,3.0,5.0,7.0,8.0,...,41.0,42.0,42.0,43.0,43.0,43.0,47.0,48.0,50.0,50.0
32,NaN,NaN,Japan,36.0000,138.0000,2.0,1.0,2.0,2.0,4.0,...,228.0,241.0,256.0,274.0,293.0,331.0,360.0,420.0,461.0,502.0
33,NaN,NaN,South Korea,36.0000,128.0000,1.0,1.0,2.0,2.0,3.0,...,2337.0,3150.0,3736.0,4335.0,5186.0,5621.0,6088.0,6593.0,7041.0,7314.0
34,NaN,Taiwan,Taiwan,23.7000,121.0000,1.0,1.0,3.0,3.0,4.0,...,34.0,39.0,40.0,41.0,42.0,42.0,44.0,45.0,45.0,45.0
37,NaN,Macau,Macau,22.1667,113.5500,1.0,2.0,2.0,2.0,5.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
38,NaN,Hong Kong,Hong Kong,22.3000,114.2000,0.0,2.0,2.0,5.0,8.0,...,94.0,95.0,96.0,100.0,100.0,105.0,105.0,107.0,108.0,114.0
39,NaN,NaN,Singapore,1.2833,103.8333,0.0,1.0,3.0,3.0,4.0,...,93.0,102.0,106.0,108.0,110.0,110.0,117.0,130.0,138.0,150.0
40,NaN,NaN,Vietnam,16.0000,108.0000,0.0,2.0,2.0,2.0,2.0,...,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,18.0,30.0
41,NaN,NaN,France,47.0000,2.0000,0.0,0.0,2.0,3.0,3.0,...,57.0,100.0,130.0,191.0,204.0,285.0,377.0,653.0,949.0,1126.0
42,NaN,NaN,Nepal,28.1667,84.2500,0.0,0.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
43,NaN,NaN,Malaysia,2.5000,112.5000,0.0,0.0,0.0,3.0,4.0,...,23.0,25.0,29.0,29.0,36.0,50.0,50.0,83.0,93.0,99.0
50,NaN,NaN,Cambodia,11.5500,104.9167,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0
51,NaN,NaN,Sri Lanka,7.0000,81.0000,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
52,NaN,NaN,Germany,51.0000,9.0000,0.0,0.0,0.0,0.0,0.0,...,48.0,79.0,130.0,159.0,196.0,262.0,482.0,670.0,799.0,1040.0
53,NaN,NaN,Finland,64.0000,26.0000,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,6.0,6.0,6.0,6.0,12.0,15.0,15.0,23.0
54,NaN,NaN,United Arab Emirates,24.0000,54.0000,0.0,0.0,0.0,0.0,0.0,...,19.0,21.0,21.0,21.0,27.0,27.0,29.0,29.0,45.0,45.0
55,NaN,NaN,Philippines,13.0000,122.0000,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,5.0,6.0,10.0
56,NaN,NaN,India,21.0000,78.0000,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,5.0,5.0,28.0,30.0,31.0,34.0,39.0
58,NaN,NaN,Italy,43.0000,12.0000,0.0,0.0,0.0,0.0,0.0,...,888.0,1128.0,1694.0,2036.0,2502.0,3089.0,3858.0,4636.0,5883.0,7375.0
59,NaN,NaN,UK,55.0000,-3.0000,0.0,0.0,0.0,0.0,0.0,...,20.0,23.0,36.0,40.0,51.0,85.0,115.0,163.0,206.0,273.0
60,NaN,NaN,Russia,60.0000,90.0000,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,3.0,3.0,3.0,4.0,13.0,13.0,17.0
61,NaN,NaN,Sweden,63.0000,16.0000,0.0,0.0,0.0,0.0,0.0,...,7.0,12.0,14.0,15.0,21.0,35.0,94.0,101.0,161.0,203.0
62,NaN,NaN,Spain,40.0000,-4.0000,0.0,0.0,0.0,0.0,0.0,...,32.0,45.0,84.0,120.0,165.0,222.0,259.0,400.0,500.0,673.0
65,NaN,NaN,Belgium,50.8333,4.0000,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,8.0,13.0,23.0,50.0,109.0,169.0,200.0
67,NaN,Diamond Princess cruise ship,Others,35.4437,139.6380,0.0,0.0,0.0,0.0,0.0,...,705.0,705.0,705.0,705.0,706.0,706.0,706.0,696.0,696.0,696.0
70,NaN,NaN,Egypt,26.0000,30.0000,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,2.0,2.0,2.0,3.0,15.0,15.0,49.0
71,NaN,NaN,Iran,32.0000,53.0000,0.0,0.0,0.0,0.0,0.0,...,388.0,593.0,978.0,1501.0,2336.0,2922.0,3513.0,4747.0,5823.0,6566.0
76,NaN,NaN,Lebanon,33.8547,35.8623,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,10.0,13.0,13.0,13.0,16.0,22.0,22.0,32.0
79,NaN,NaN,Iraq,33.0000,44.0000,0.0,0.0,0.0,0.0,0.0,...,7.0,13.0,19.0,26.0,32.0,35.0,35.0,40.0,54.0,60.0
81,NaN,NaN,Oman,21.0000,57.0000,0.0,0.0,0.0,0.0,0.0,...,4.0,6.0,6.0,6.0,12.0,15.0,16.0,16.0,16.0,16.0
82,NaN,NaN,Afghanistan,33.0000,65.0000,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0
83,NaN,NaN,Bahrain,26.0275,50.5500,0.0,0.0,0.0,0.0,0.0,...,36.0,41.0,47.0,49.0,49.0,52.0,55.0,60.0,85.0,85.0
84,NaN,NaN,Kuwait,29.5000,47.7500,0.0,0.0,0.0,0.0,0.0,...,45.0,45.0,45.0,56.0,56.0,56.0,58.0,58.0,61.0,64.0
85,NaN,NaN,Algeria,28.0339,1.6596,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,5.0,12.0,12.0,17.0,17.0,19.0
86,NaN,NaN,Croatia,45.1000,15.2000,0.0,0.0,0.0,0.0,0.0,...,5.0,6.0,7.0,7.0,9.0,10.0,10.0,11.0,12.0,12.0
87,NaN,NaN,Switzerland,46.8182,8.2275,0.0,0.0,0.0,0.0,0.0,...,8.0,18.0,27.0,42.0,56.0,90.0,114.0,214.0,268.0,337.0
88,NaN,NaN,Austria,47.5162,14.5501,0.0,0.0,0.0,0.0,0.0,...,3.0,9.0,14.0,18.0,21.0,29.0,41.0,55.0,79.0,104.0
89,NaN,NaN,Israel,31.0000,35.0000,0.0,0.0,0.0,0.0,0.0,...,4.0,7.0,10.0,10.0,12.0,15.0,16.0,21.0,21.0,39.0
90,NaN,NaN,Pakistan,30.3753,69.3451,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,4.0,4.0,5.0,5.0,5.0,6.0,6.0,6.0
91,NaN,NaN,Brazil,-14.2350,-51.9253,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,2.0,4.0,4.0,13.0,13.0,20.0
92,NaN,NaN,Georgia,42.3154,43.3569,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,13.0
93,NaN,NaN,Greece,39.0742,21.8243,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,7.0,7.0,7.0,9.0,31.0,45.0,46.0,73.0
94,NaN,NaN,North Macedonia,41.6086,21.7453,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0
95,NaN,NaN,Norway,60.4720,8.4689,0.0,0.0,0.0,0.0,0.0,...,6.0,15.0,19.0,25.0,32.0,56.0,87.0,108.0,147.0,176.0
96,NaN,NaN,Romania,45.9432,24.9668,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,4.0,6.0,9.0,9.0,15.0
97,NaN,NaN,Denmark,56.2639,9.5018,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,4.0,4.0,6.0,10.0,10.0,23.0,23.0,35.0
98,NaN,NaN,Estonia,58.5953,25.0136,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,2.0,3.0,10.0,10.0,10.0
99,NaN,NaN,Netherlands,52.1326,5.2913,0.0,0.0,0.0,0.0,0.0,...,1.0,6.0,10.0,18.0,24.0,38.0,82.0,128.0,188.0,265.0
100,NaN,NaN,San Marino,43.9424,12.4578,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,8.0,10.0,16.0,21.0,21.0,23.0,36.0
101,NaN,NaN,Belarus,53.7098,27.9534,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,6.0,6.0,6.0,6.0,6.0

In [312]:
compliment.sort_values(by =['3/8/20'], inplace = True, ascending=False)
compliment.head(10)

,City,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
31,NaN,NaN,China,33.406936,111.542903,547.0,639.0,916.0,1399.0,2062.0,...,78824.0,79251.0,79826.0,80026.0,80151.0,80271.0,80422.0,80573.0,80652.0,80699.0
58,NaN,NaN,Italy,43.000000,12.000000,0.0,0.0,0.0,0.0,0.0,...,888.0,1128.0,1694.0,2036.0,2502.0,3089.0,3858.0,4636.0,5883.0,7375.0
33,NaN,NaN,South Korea,36.000000,128.000000,1.0,1.0,2.0,2.0,3.0,...,2337.0,3150.0,3736.0,4335.0,5186.0,5621.0,6088.0,6593.0,7041.0,7314.0
71,NaN,NaN,Iran,32.000000,53.000000,0.0,0.0,0.0,0.0,0.0,...,388.0,593.0,978.0,1501.0,2336.0,2922.0,3513.0,4747.0,5823.0,6566.0
41,NaN,NaN,France,47.000000,2.000000,0.0,0.0,2.0,3.0,3.0,...,57.0,100.0,130.0,191.0,204.0,285.0,377.0,653.0,949.0,1126.0
52,NaN,NaN,Germany,51.000000,9.000000,0.0,0.0,0.0,0.0,0.0,...,48.0,79.0,130.0,159.0,196.0,262.0,482.0,670.0,799.0,1040.0
67,NaN,Diamond Princess cruise ship,Others,35.443700,139.638000,0.0,0.0,0.0,0.0,0.0,...,705.0,705.0,705.0,705.0,706.0,706.0,706.0,696.0,696.0,696.0
62,NaN,NaN,Spain,40.000000,-4.000000,0.0,0.0,0.0,0.0,0.0,...,32.0,45.0,84.0,120.0,165.0,222.0,259.0,400.0,500.0,673.0
106,NaN,NaN,US,38.461433,-95.286585,1.0,1.0,2.0,2.0,5.0,...,62.0,70.0,76.0,101.0,121.0,152.0,220.0,277.0,416.0,538.0
32,NaN,NaN,Japan,36.000000,138.000000,2.0,1.0,2.0,2.0,4.0,...,228.0,241.0,256.0,274.0,293.0,331.0,360.0,420.0,461.0,502.0

In [313]:
compliment = compliment.drop(columns=['City','Province/State'])
compliment.loc[compliment['Country/Region'] == "Others",  'Country/Region'] = "Cruise"
compliment.head(100)

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
31,China,33.406936,111.542903,547.0,639.0,916.0,1399.0,2062.0,2863.0,5494.0,...,78824.0,79251.0,79826.0,80026.0,80151.0,80271.0,80422.0,80573.0,80652.0,80699.0
58,Italy,43.000000,12.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,888.0,1128.0,1694.0,2036.0,2502.0,3089.0,3858.0,4636.0,5883.0,7375.0
33,South Korea,36.000000,128.000000,1.0,1.0,2.0,2.0,3.0,4.0,4.0,...,2337.0,3150.0,3736.0,4335.0,5186.0,5621.0,6088.0,6593.0,7041.0,7314.0
71,Iran,32.000000,53.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,388.0,593.0,978.0,1501.0,2336.0,2922.0,3513.0,4747.0,5823.0,6566.0
41,France,47.000000,2.000000,0.0,0.0,2.0,3.0,3.0,3.0,4.0,...,57.0,100.0,130.0,191.0,204.0,285.0,377.0,653.0,949.0,1126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,Nepal,28.166700,84.250000,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
111,Monaco,43.733300,7.416700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
117,Armenia,40.069100,45.038200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
172,Bhutan,27.514200,90.433600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
138,Jordan,31.240000,36.510000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [314]:
#globalSum = compliment.append( compliment.sum(numeric_only = True), ignore_index = True)
globalSum.loc[globalSum.index[-1], 'Country/Region'] = "Global"
globalSum.loc[globalSum.index[-1], 'Lat'] = 0 
globalSum.loc[globalSum.index[-1], 'Long'] = 0

#globalSum = globalSum.drop(labels=['Lat','Long'])

#globalSum.columns = ['Cases Worldwide']
globalSum.tail(10)

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,Lat,Long
99,Jordan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
100,Ukraine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
101,Vatican City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
102,Togo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
103,Serbia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
104,Gibraltar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
105,Liechtenstein,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
106,Colombia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
107,Nigeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
108,Global,555.0,653.0,941.0,1434.0,2118.0,2927.0,5578.0,6166.0,8234.0,...,88371.0,90309.0,92843.0,95123.0,97885.0,101799.0,105835.0,109836.0,0.0,0.0

In [320]:
#world = pd.DataFrame( [ globalSum.loc[ globalSum.index[-1] ] ] )
#world = world.drop(columns=['Lat','Long', 'Country/Region'])
world.plot
#globalSum.columns = ['Cases Worldwide']
#world.head(1)
#globalSum.plot.scatter(y='Cases Worldwide')